.table-container {
  border: 5px solid #e8604c;
  border-radius: 10px;
  background-color: white;
  height: 25rem;
  width: 70rem;
  z-index: 1;
  position: fixed;
  top: 7rem;
  left: calc(50% - 35rem);
  color: #e8604c;
  padding: 50px;
}

.user-info-table {
  border: 2px solid #e8604c;
  width: 100%;
  border-collapse: collapse;
}

.user-info-table td,
.user-info-table th {
  border: 1px solid #e8604c;
  padding: 5px;
}

.close-button {
  background-color: #e8604c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  clear: both;
  display: block;
  padding: 5px 10px;
  margin: 5px;
}
